#ironHouse .btn {
}

#ironHouse .btn.primary {
	background-color: var(--color-primary);
	color: var(--color-black);
}

#ironHouse .btn.secondary {
	background-color: var(--color-secondary);
	color: var(--color-black);
}

#ironHouse .ribbon-container ul {
	background-color: var(--color-primary);
	color: var(--color-black);
}

#ironHouse .content-panel {
	min-height: 80vh;
}

#ironHouse .bg-primary {
	background-color: var(--color-contrast);
}
